@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html, body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background: radial-gradient(ellipse at bottom, #000000 0%, #232324 80%);
}

header {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: end;
    gap: 1rem;
    align-items: center;
    padding: 1.4em;
    box-sizing: border-box;
}

.icon {
    color: white;
}

a:hover .icon {
    color: #999;
}

.homepage-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.button-group{
    display: flex;
    flex-direction: row;
}

.content{
    display: flex;
    flex-direction: row;
    justify-items: center;
    height: 100%;
    align-items: center;
    max-width: 85%;
}

.canvas{
    border-radius: 1rem;
    display: block;
    width: 80%;
    height: 80%;
    max-width: 90vh;
    max-height: 90vh;
    border: solid rgb(40, 40, 40);
    aspect-ratio: 1 / 1;       /* bewahrt Seitenverhältnis */

}

.information{
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 80rem) {
    .content{
        flex-direction: column;
    }
    .canvas {
        width: 100%;
        height: 100%;
    }

    .information{
        padding: 2rem 0 0 0;
    }

    .button-group{
        flex-direction: column;
    }
}

.dot-mask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    inset: 0;
    background-image: radial-gradient(rgb(50, 50, 50) 1px, transparent 1px);
    background-size: 16px 16px;
    -webkit-mask-image: radial-gradient(
            ellipse 50% 50% at 50% 50%,
            #000 60%,
            transparent 100%
    );
    mask-image: radial-gradient(
            ellipse 50% 50% at 50% 50%,
            transparent 60%,
            #000 100%
    );
}

button {
    cursor: pointer;
    color: gray;
    padding: 1.6em 2em;
    margin: 1.7em;
    background: rgba(25, 25, 25);
    border-radius: 0.8rem;
    text-decoration: none;
    font-size: 14pt;
    border-width: 0;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.7), inset 0 6px 10px rgba(65, 65, 65, 0.2), inset 0 -4px 0 rgba(45, 45, 45, 1);
    transition: 1s cubic-bezier(0.15, 0.83, 0.66, 1);
}


button:hover{
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 1), inset 0 6px 10px rgba(65, 65, 65, 0.6), inset 0 -6px 0 rgba(45, 45, 45, 1);
    transform: translateY(-3px);
}

button:hover span{
    color: #fff;
    text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
                0 0 42px #0fa,
            0 0 82px #0fa,
                0 0 92px #0fa,
            0 0 102px #0fa,
            0 0 151px #0fa;
}

button:active{
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0), inset 0 6px 10px rgba(0, 0, 0, 0.5), inset 0 0 0 rgba(45, 45, 45, 1);
    transform: translateY(3px);}

button:active span{
    color: #fff;
    text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #0fa,
            0 0 82px #0fa,
            0 0 92px #0fa,
            0 0 102px #0fa,
            0 0 151px #0fa;
}

.button-indicator {
    text-align: center;
    color: rgb(65, 65, 65);;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}





