@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle at right bottom,
    #ffffff 0%,           /* Zentrum - hell */
    #e1f1fb 3%,           /* sehr naher Übergang */
    #a2d4f7 6%,
    #69b7f0 10%,
    #337bbd 18%,
    #1a4e89 28%,
    #0a2345 42%,
    #000010 60%,
    #000000 100%
    );
}

.dot-mask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    inset: 0;
    background-image: radial-gradient(#2b2b2b  1px, transparent 1px);
    background-size: 16px 16px;
    -webkit-mask-image: radial-gradient(circle at right bottom,
    transparent 0%,
    transparent 32%,
    #000 48%,
    #000 100%
    );
    mask-image: radial-gradient(circle at right bottom,
    transparent 0%,
    transparent 60%,
    #000 90%,
    #000 100%
    );
}

header {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: end;
    gap: 1rem;
    align-items: center;
    padding: 1.4em;
    box-sizing: border-box;
}

.wrapper{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
}

.homepage-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .card-section{
        display: flex;
        flex-direction: row;

        .card{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
            text-align: start;
            border: solid 1px rgba(255, 255, 255, 20%);
            border-radius: 1rem;
            padding: 2rem;
            margin: 2rem;
            max-width: 20rem;
            background: linear-gradient(to left top, rgba(255, 255, 255, 10%), transparent);

            .button-section{
                display: flex;
                justify-content: end;
                width: 100%;
            }
        }
    }
}

.content{
    display: flex;
    flex-direction: row;
    justify-items: center;
    height: 100%;
    align-items: center;
    max-width: 85%;

    .canvas{
        border-radius: 1rem;
        display: block;
        width: 80%;
        height: 80%;
        max-width: 80vh;
        max-height: 80vh;
        border: solid rgb(40, 40, 40);
        aspect-ratio: 1 / 1;

    }

    .information{
        display: flex;
        padding: 2rem;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 80rem) {
    .content{
        flex-direction: column;
    }
    .canvas {
        width: 100%;
        height: 100%;
    }

    .information{
        padding: 2rem 0 0 0;
    }

    .card-section{
        flex-direction: column;
    }
}


h1{
    background: linear-gradient(to left top, white 30%, #000010 100%);
    color: transparent;
    background-clip: text;
    margin: 1rem 0 0.5rem;
    font-size: 50px;
}

h3{
    font-size: 24px;
    margin: 1rem 0 0.5rem;
}

p{
    margin: 0 0 1rem 0 ;
    color: #e1f1fb;
}

.icon {
    color: white;
}

a:hover .icon {
    color: #999;
}

/* From Uiverse.io by Allyhere */
.btn {
    --clr-font-main: hsla(0 0% 20% / 100);
    --btn-bg-1: hsla(194 100% 69% / 1);
    --btn-bg-2: hsla(217 100% 56% / 1);
    --btn-bg-color: hsla(360 100% 100% / 1);
    --radii: 0.5em;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    cursor: pointer;
    padding: 0.9em 1.4em;
    min-width: 120px;
    min-height: 44px;
    font-size: var(--size, 1rem);
    font-weight: 500;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(
            325deg,
            var(--btn-bg-2) 0%,
            var(--btn-bg-1) 55%,
            var(--btn-bg-2) 90%
    );
    border: none;
    border-radius: var(--radii);
    color: var(--btn-bg-color);
    box-shadow:
            0 0 20px rgba(71, 184, 255, 0.5),
            0 5px 5px -1px rgba(58, 125, 233, 0.25),
            inset 4px 4px 8px rgba(175, 230, 255, 0.5),
            inset -4px -4px 8px rgba(19, 95, 216, 0.35);
}

.btn:hover {
    background-position: right top;
}

.btn:is(:focus, :focus-visible, :active) {
    outline: none;
    box-shadow:
            0 0 0 3px var(--btn-bg-color),
            0 0 0 6px var(--btn-bg-2);
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: linear;
    }
}

/* From Uiverse.io by Allyhere END */


.btn:hover {
    color: #fff;
    text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #0fa
}

.btn:active{
    color: #fff;
    text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #0fa
}


